name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "24.12.0"

      - name: Install NPM dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run ESLint
        run: npm run eslint:ci

      - name: Run Prettier
        run: npm run prettier:ci

      - name: Test
        run: npm run test
